body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f6ffff;
    color:black;
}

/* Start Page */
.start-box{
    width:300px;
    margin:120px auto;
    text-align:center;
    border:2px solid #008b8b;
    padding:30px;
    background:white;
}

.start-box input{
    width:90%;
    padding:10px;
    margin:10px 0;
}

.start-box button{
    width:100%;
    padding:10px;
    background:#008b8b;
    border:none;
    cursor:pointer;
}

/* Navbar */
.navbar{
    background:#008b8b;
    padding:15px;
}

/* Center */
.center{
    text-align:center;
    margin-top:60px;
}

/* Quiz */
.quiz-box{
    width:350px;
    margin:40px auto;
    border:2px solid #008b8b;
    padding:20px;
    background:white;
}

.quiz-box button{
    width:100%;
    margin:8px 0;
    padding:10px;
    background:#008b8b;
    border:none;
    cursor:pointer;
}
